[submodule ".claude/skills/product-manager"]
	path = .claude/skills/product-manager
	url = https://github.com/Digidai/product-manager-skills
[submodule "web"]
	path = web
	url = https://github.com/ameliso-io/web.git
[submodule "server"]
	path = server
	url = https://github.com/ameliso-io/server.git
